[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
packaging = "*"
toml = "*"
"discord.py" = {version = "*",extras = ["voice",]}

[dev-packages]
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.8"
